.h1_h2{
    margin: 15px 20px;
}
.content{
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.content label{
    margin-bottom: 10px;
}
.content input{
    border: none;
    background-color: rgb(224, 224, 224);
    padding: 5px;
    border-radius: 2px;
}
.content input::placeholder{
    color: rgba(128, 128, 128, 0.986);
}

.bottom{
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 50px;
    color: white;
    border: none;
    background-color: black;
    transition-duration: 0.5s;
}
.bottom:hover{
    font-weight: bolder;
    color: rgba(179, 9, 9, 0.801);
    background-color: rgb(9, 255, 193);
}